body {
    overflow: hidden;
}

.ticker {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.ticker-list {
    display: flex;
    animation: ticker-scroll 20s linear infinite;
    margin-top: 20px;
}

.ticker:hover .ticker-list {
    animation-play-state: paused;
}

@keyframes ticker-scroll {
    100% {
        transform: translateX(-100%);
    }
}
